.phases-all {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.phases-masterplan {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;
    padding-bottom: 30px;
}

.phases-masterplan-heading {
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    margin-right: auto;
    margin-left: 9%;
    font-size: 5.2vw;
    margin-bottom: 20px;
}

.phases-masterplan-map {
    width: 91vw;
}

.phases-phase-1 {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    width: 100%;
}

.phases-phase-1-heading {
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    margin-right: auto;
    margin-left: 9%;
    font-size: 5.2vw;
}

.phases-phase-1-content {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    width: 73vw;
    font-size: 1.2vw;
}

.future-plan-content {
    font-family: 'Poppins', sans-serif;
    width: 90.6vw;
    font-size: 1.2vw;
    margin-bottom: 40px;
}

.gallery-div {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
}

.phases-phase-1-grid {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 0.52vw;
}

.img4 {
    width: 47.4vw;
    height: 15.625vw;
    grid-column: span 2;
}

.img5 {
    width: 23.43vw;
    height: 15.625vw;
}

.spanrow {
    width: 23.43vw;
    height: 31.78vw;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.future-plans-all {
    color: black;
    background-color: white;
}

.future-plans-heading {
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    margin-right: auto;
    margin-left: 9%;
    font-size: 5.2vw;
    margin-bottom: -50px;
}

.phases-phase-3 {
    padding-bottom: 150px;
}

.phases-future-plan-img {
    margin-top: 70px;
    margin-bottom: 80px;
}

@media screen and (max-width: 992px)  {
    .phases-all {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .phases-masterplan {
        padding-top: 150px;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        width: 100%;
        padding-bottom: 30px;
    }

    .phases-masterplan-heading {
        font-family: "DM Sans", sans-serif;
        font-weight: 200;
        margin-right: auto;
        margin-left: 2vw;
        font-size: 15vw;
        margin-bottom: 20px;
    }

    .phases-masterplan-map {
        width: 98vw;
    }

    .phases-phase-1 {
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        color: white;
        background-color: black;
        width: 100%;
    }

    .phases-phase-1-heading {
        font-family: "DM Sans", sans-serif;
        font-weight: 200;
        margin-right: auto;
        margin-left: 2vw;
        font-size: 15vw;
    }

    .phases-phase-1-content {
        font-family: 'Poppins', sans-serif;
        width: 90vw;
        font-size: 4vw;
    }

    .future-plan-content {
        font-family: 'Poppins', sans-serif;
        width: 90vw;
        font-size: 4vw;
        margin-bottom: 40px;
    }

    .gallery-div {
        margin-top: 250px;
        display: flex;
        flex-direction: column;
    }

    .phases-phase-1-grid {
        margin-top: 9px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1vw;
        margin-bottom: 15px;
    }

        .img4 {
            width: 61vw;
            height: 20vw;
            grid-column: span 2;
        }

        .img5 {
            width: 30vw;
            height: 20vw;
        }

        .spanrow {
            width: 30vw;
            height: 41vw;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 4;
        }

    .future-plans-all {
        color: black;
        background-color: white;
    }

    .future-plans-heading {
        font-family: "DM Sans", sans-serif;
        font-weight: 200;
        margin-right: auto;
        margin-left: 2vw;
        font-size: 15vw;
        margin-bottom: -50px;
    }

    .phases-phase-3 {
        padding-bottom: 150px;
    }

    .phases-future-plan-img {
        margin-top: 70px;
        margin-bottom: 80px;
    }
}